@charset "UTF-8";

:root{
    --corFundo:#e7e7e7;
    --corFundoCaixaNome:white;
    --corBordaCaixa:rgb(187, 187, 187);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corFundo);
    overflow-x: hidden;
    overflow-y: hidden;
}

#nome{
    position: absolute;
    background-color: var(--corFundoCaixaNome);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid var(--corBordaCaixa);
    padding: 5px;
    font-size: 1.5rem;
}

svg path{
    cursor: pointer;
}

.str0 {
    stroke:#000000;
    stroke-width:76;
    stroke-linecap:round;
    stroke-linejoin:round
}

