@charset "UTF-8";

:root{
    --corFundo:white;
    --corFundoCaixaNome:white;
    --corBordaCaixa:rgb(187, 187, 187);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -noz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust:100%;

}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corFundo);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.topo{
    margin:auto;
}

.container{
    padding-top: 0em;
    margin: 0px auto 20px auto;
    display: flex;
    align-items: center;
    scroll-behavior: auto;
    width: 1200px;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.198);
}

#selecao-municipio{
    position: relative;
}

#selecao-municipio label{
    font-size: 0.75rem;
    letter-spacing: 0.02rem;
}

#selecionar-botao{
    margin-top: .75rem;
    display: flex;
    padding: 0.75rem;
    align-items: center;
    justify-content: space-between;

    border-radius: 0.375rem;
    border: 1px solid #ff0000;
    background-color: #ff0000;
}

#valor-selecionado{
    color: #AFABB6;
    font-size: .875rem;
    letter-spacing: 0.02rem;
}

#informacoes{
    width: 350px;
}

#comarca{
    margin-top:1rem;
    background-color: white;
    height:fit-content;
    border: 3px solid rgb(187,187,187);
    border-radius: 10px;
    padding: 20px;
    opacity: 0;
    transition: 0.3s;
}

svg path{
    cursor: pointer;
}

#caixaNome{
    position: absolute;
    background-color: white;
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid rgb(187,187,187);
    padding: 5px;
    font-size: 1.5rem;
}

.str0 {
    stroke:#000000;
    stroke-width:76;
    stroke-linecap:round;
    stroke-linejoin:round
}

#botao-opcoes:focus + #selecionar-botao{
    outline: 5px solid rgb(22, 149, 0);
}

#selecao-municipio:has(#botao-opcoes:checked) label, #botao-opcoes:checked + #selecionar-botao{
    color:green;
}

#botao-opcoes{
    all:unset;
    position: absolute;
    inset: 0;
    cursor: pointer;
    z-index: 3;
}