@charset "UTF-8";

:root{
    --corFundo:white;
    --corFundoCaixaNome:white;
    --corBordaCaixa:rgb(187, 187, 187);
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--corFundo);
}
.container{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    scroll-behavior: auto;
}

#caixaNome{
    position: absolute;
    background-color: var(--corFundoCaixaNome);
    width: fit-content;
    opacity: 0;
    border-radius: 5px;
    border: 3px solid var(--corBordaCaixa);
    padding: 5px;
    font-size: 1.5rem;
}

#comarca{
    background-color: var(--corFundoCaixaNome);
    width: 20%;
    height:fit-content;
    border: 3px solid var(--corBordaCaixa);
    border-radius: 10px;
    padding: 20px;
    opacity: 1;
}

svg path{
    cursor: pointer;
}

.str0 {
    stroke:#000000;
    stroke-width:76;
    stroke-linecap:round;
    stroke-linejoin:round
}

