@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: hidden;
}

path:hover{
    cursor: pointer;
    fill: rgb(209, 140, 28);
}

.str0 {stroke:#000000;stroke-width:76;stroke-linecap:round;stroke-linejoin:round}
.str5 {stroke:#C2C1C1;stroke-width:76}
.str2 {stroke:#131516;stroke-width:76;stroke-linecap:round;stroke-linejoin:round}
.str6 {stroke:#D82B40;stroke-width:76}
.str4 {stroke:#1F1A17;stroke-width:353}
.str1 {stroke:#db4e08;stroke-width:353;stroke-linecap:round;stroke-linejoin:round}
.str3 {stroke:#131516;stroke-width:353;stroke-linecap:round;stroke-linejoin:round}
.str8 {stroke:#1F1A17;stroke-width:706}
.str7 {stroke:#D82B40;stroke-width:1058}
.fil3 {fill:none}
.fil4 {fill:#FFFFFF}
.fil2 {fill:#9DBDDD}
.fil0 {fill:#EEDDB3}
.fil1 {fill:#F6EAD9}
.fil6 {fill:#D82B40}
.fil5 {fill:#ECECEB}